.a-h1 {
  $root: &;

  position: relative;
  margin: 2em 0 3em;
  letter-spacing: 0.08em;
  font-size: 48px;
  font-weight: 400;
  @include use-palt;

  @include sp {
    font-size: 24px;
  }

  &__inner {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: calc(100% + 2em);
      height: 0.3em;
      border: 4px solid $color-theme;
      left: 50%;
      top: 59%;
      border-radius: 4px;
      transform: translate(-200%, -50%);
      z-index: -1;
      transition: trans(transform);

      #{$root}--appeared & {
        transform: translate(-50%, -50%);
      }

      @include sp {
        width: calc(100% + 3em);
        border-width: 2px;
      }
    }
  }

  &--nobar &__inner::before {
    display: none;
  }

  small {
    line-height: 1;
    font-size: 0.5em;

    @include sp {
      font-size: 0.6em;
    }
  }
}
