.m-discography {
  display: flex;

  @include sp {
    display: block;
  }

  &__artwork {
    width: 360px;
    margin-right: 40px;

    @include sp {
      width: 100%;
      margin-right: 0;
      margin-bottom: 12px;
    }

    & > img {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 12px;
    font-size: 30px;

    @include sp {
      margin-bottom: 6px;
      font-size: 20px;
    }
  }
}
