.o-header {
  margin-bottom: 10px;

  &__inner {
    display: flex;
    width: 100%;
    height: 120px;
    max-width: $size-maxwidth-pc;
    margin: 0 auto;
    padding: 0 #{$size-margin-pc * 2.2} 0 $size-margin-pc;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;

    @include sp {
      height: 80px;
      padding: 0 $size-margin-sp;
      font-size: 16px;
    }
  }

  &__brand {
    text-decoration: none;
    color: inherit;
    transition: trans(color);

    @include hover {
      color: $color-theme;
    }
  }

  &__primarymenu {
    @include sp {
      display: none;
    }

    & > ul {
      display: flex;
      margin: 0 -10px 0 0;
      padding: 0;
      list-style-type: none;

      & > li {
        margin: 0 10px;

        & > a {
          text-decoration: none;
          color: inherit;
          transition: trans(color);

          @include hover {
            color: $color-theme;
          }
        }
      }
    }
  }
}
