.m-breadcrumb {
  display: flex;

  @include sp {
    display: none;
  }

  &__separator {
    padding: 0 1em;

    &:last-child {
      display: none;
    }
  }

  &__item {
    max-width: 240px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
