.a-hamburger {
  $root: &;

  display: flex;
  align-items: center;
  cursor: pointer;

  &__inner {
    width: 100%;
  }

  &__line {
    width: 75%;
    height: 2px;
    margin: 0 0 10% 10%;
    background-color: $color-text;
    border-radius: 1px;
    transition: trans(background-color);

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include hover {
    #{$root}__line {
      background-color: $color-theme;
    }
  }
}
