.o-top-schedule {
  .m-top-primaryschedule {
    margin-bottom: 64px;
  }

  &__sublist {
    display: flex;
    margin: -30px 0 60px -30px;
    padding: 0;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;

    @include sp {
      display: block;
      margin: -30px 0 30px -15px;
    }

    & > li {
      flex: 0 1 calc(50% - 30px);
      margin: 30px 0 0 30px;
      padding: 0;

      @include sp {
        margin: 30px 0 0 15px;
      }
    }
  }

  &__morewrapper {
    text-align: center;
    opacity: 0;

    &--appeared {
      transition: trans(opacity);
      opacity: 1;
    }

    .a-textarrow {
      font-size: 24px;
    }
  }
}
