.o-section {
  width: 100%;
  max-width: $size-maxwidth-pc;
  margin: 0 auto 120px;
  padding: 0 $size-margin-pc;

  @include sp {
    padding: 0 $size-margin-sp;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
