.m-top-subschedule {
  position: relative;
  display: block;
  padding: 0 40px 0 60px;
  text-decoration: none;
  color: inherit;
  transition: trans(opacity);

  @include hover {
    opacity: 0.5;
  }

  @include sp {
    padding: 0;
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    left: 15px;
    top: calc(50% - 15px);
    border-radius: 50%;
    background-color: $color-theme;

    @include sp {
      width: 40px;
      height: 40px;
      left: -50px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    right: 0;
    top: calc(50% - 10px);
    border-width: 10px;
    border-color: transparent transparent transparent $color-theme;
    border-style: solid;

    @include sp {
      right: -15px;
    }
  }

  &__date {
    font-size: 16px;

    @include sp {
      font-size: 13px;
    }
  }

  &__title {
    position: relative;
    display: -webkit-box;
    max-height: 60px;
    margin: 4px 0;
    overflow: hidden;
    line-height: 1.5;
    font-size: 20px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    @include use-palt;
    @include sp {
      font-size: 18px;
    }
  }

  &__venue {
    font-size: 16px;

    @include sp {
      font-size: 13px;
    }
  }
}
